name: Deploy to Server

on:
  push:
    branches:
      - main  # 또는 master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/ubuntu/myblog
            git pull origin main
            bundle install
            bundle exec jekyll build
            sudo rsync -av --delete _site/ /var/www/myblog/
            sudo chown -R ubuntu:ubuntu /var/www/myblog
